@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* from Tom-moderator: One of my favorite ways to get coding is by starting off with this simple/blank template because it allows me to look at all aspects of my html elements before applying any complex styles. I can focus on the html elments size, position and display, very easily i can glance at my html page and not be overwhelmed by colors or images, etc.
So for myself it becomes easier to focus on getting the basic layout and styling before doing anything interesting with my projects. This is similar to prototyping/wireframing with applying a red border to every element, but i find that having a background is more convenient, and especially helpful for finding overlapping elements : */
/* //CSS reset optional */
*{
background:rgba(0,0,0,.1);
}

*{
  color: #4a4a4a;
}
/* .container {
  width: 960px; */

}
.header {
  display: flex;
  height: 64px;
  font-size: 32px;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
}

.header img {
  padding-left: 24px;
  height: 100%;
}

.header .colmar {
  font-weight: bold;
}

li {
  display: inline-flex;
  margin-left: 9rem;
  font-size: 24px;
}

.menu {
  margin-left: 30rem;
}
/* needed for header? */
body {
  margin: 0;
}

/* Banner Section */

.banner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  background-color: gray;
  width: 100%;
}

.banner img {
  padding: 32px 24px;
  width: 60%;
}

.banner .banntext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  width: 40%;
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
}


.banner .headline {
  font-size: 4rem;
  font-weight: bold;
  word-spacing: .04em;
  letter-spacing: .03em;
}

.banner .subhead {
  font-size: 2rem;
  padding-top: 2rem;
}

 .banner .btn {
    background-color: #4a4a4a;
    color: white;
    padding: 15px 30%;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

/* Main Section  */

.main {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.main .col1 {
  flex-direction: column;
  width: 60%;
  text-align: left;
  height: auto;
}

.col1 h1 {
  font-size: 4rem;
  padding-top: 32px;
  padding-bottom: 24px;
  font-weight: bold;
  word-spacing: .04em;
  letter-spacing: .03em;
}

.col1 h3 {
  font-size: 1.5rem;
}

#emanuel {
  margin: 32px 0;
}

.main .col2 {
  flex-direction: column;
  width: 40%;
}

.col2 img {
  padding: 16px;
  /* height: auto; */
  width: 35%;
}

#orient {
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 55%;
  /* height: auto;*/
}

#orient .orientdate   {
  font-weight: bold;
  font-size: 1.75rem;
}

#orient .info {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#orient .more {
    font-size: 1.25rem;
}

.col2 #orient #campus #guest {
  width: 65%;
}
/* vertical-align: middle; - this moves text up in Dev Tools but can't seem to target it here. */

#campus {
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 55%;
}

#campus .campusinfo   {
  font-weight: bold;
  font-size: 1.75rem;
}

#campus .info{
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#campus .more {
    font-size: 1.25rem;
}

#guest {
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 55%;
}

 #guest .guestinfo   {
  font-weight: bold;
  font-size: 1.75rem;
}

#guest .info {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#guest .more {
    font-size: 1.25rem;
}

/* Learning Section */

 .learning {
   background-color: gray;
   font-size: 4rem;
   font-weight: bold;
   text-align: left;
   font-family: 'Roboto', sans-serif;
   word-spacing: .04em;
   letter-spacing: .03em;
 }

 .learning h1 {
   padding-top: 32px;
   padding-bottom: 32px;
   text-align: center;
 }

 .learning .row1 {
   display: flex;
   justify-content:space-between;
 }

.learning .row2 {
  display: flex;
  justify-content:space-between;
}

 .photos {
   padding-right: 32px;
   padding-left: 32px;
   padding-top: 32px;
 }

 .photos .description {
   background-color: white;
   font-size: 2rem;
   font-weight: bold;
   padding: 24px 10px;
}

.photos img p {
  width: 30%;
}

 .photos .description p{
   background-color: white;
   font-size: 1.60rem;
   font-weight:lighter;
   color: gray;
 }

 .description .courses {
   padding-top: 16px;
   padding-bottom: 16px;
 }

 /* Thesis Section */

 .thesis {
   display: flex;
   font-family: 'Roboto', sans-serif;
 }

/* this was initially centered ; figure out how I screwed it up */
 .exhibit{
   font-size: 4rem;
   font-weight: bold;
   text-align: left;
   font-family: 'Roboto', sans-serif;
   word-spacing: .04em;
   letter-spacing: .03em;
   padding-top: 32px;
   padding-bottom: 32px;
   text-align: center;
 }

 .thesiscol1 {
   flex-direction: column;
   width: 60%;
 }

.thesiscol1  h1{
  font-size: 2rem;
  font-weight: bold;
}
.thesiscol1 h3{
  font-size: 1.6rem;
  padding-top: 16px;
}
 .thesiscol2 {
   display: flex;
   flex-direction: column;
   width: 40%;
 }

.thesiscol2 .img1  {
  display: flex;
  align-items: center;

}

.thesiscol2 .text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.thesiscol2 .text .title1 {
  font-size: 2rem;
  font-weight: bold;
}

.thesiscol2 .info1 {
  font-size: 1.6rem;
  padding-top: 16px;
}
/* second row  */

.thesiscol2 .img2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  /* height: 50%; */
}
